.promociones-container {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  background-color: #582655;
  gap: 15px;
  min-height: 120vh;
  align-items: center;
}

.promociones-detail-view {
  display: flex;
  align-items: center;
  background-color: #222121;
  border: 10px solid #2d1a54;
  width: 90%;
  max-width: 900px;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 15px;
}

.promociones-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 10px;
}

.promociones-title {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.promociones-description {
  color: white;
  font-size: 14px;
  line-height: 1.4;
}

.promociones-price {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

/* Responsive Design */

@media (max-width: 480px) {
  .promociones-detail-view {
    width: 95%; /* Ajuste para pantallas más pequeñas */
  }
}